@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@300;400;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    color: white;
    background:black ;
    -webkit-tap-highlight-color:
    
}

*::selection {
    color: #ebebeb;
    background: darkslategray ;
  }

.font-code {
    font-family: 'Anonymous Pro', monospace;
}

.name {
    font-weight: 900;
}